.container {
  margin: 0 auto;
  max-width: 950px;
}

.container h4{
  text-align: center;
}

.animatedObj{
  background-color: rgb(197, 195, 195);
  width: 50vh;
  padding: 10px;
}

.animatedObjInner{
  display: flex;
}

.animatedObjInner p{
  flex: 0 0 50%;
}

.btn{
  width: 120px;
  height: 30px;
  border: 2px solid rgb(8, 98, 235);
  border-radius: 5px;
  background-color: transparent;
  margin:25px;
  color:rgb(8, 98, 235);
  text-transform: uppercase;
  font-weight: bold;
}


@media (max-width: 600px) {
  .grid {
   
  }
}
